body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fff, #f9f9f9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #8dbaff; 
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #007bff;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to bottom, #007bff, #0056b3);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 7px;
}

button:hover {
    background: linear-gradient(to bottom, #0056b3, #003d80);
}

#vaga-estacionamento-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fff, #f9f9f9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.vaga-estacionamento {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fff, #f9f9f9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #8dbaff;
}

